body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.search-form {
  width: 300px;
}

.custom-navbar {
  padding-left: 0.5in;
  padding-right: 0.5in;
}

.card {
  width: calc(33.33% - 10px); /* Set the width of the card */
  display: inline-block; /* Set the display property to inline-block */
  margin-right: 10px; /* Add some margin between the cards */
}

.card-body {
  height: 100px; /* Set the height of the card-body */
  padding: 10px; /* Add some padding to the card-body */
  background-color: #f2f2f2;
}

.product-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
}

.product-card {
  width: 22%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}







